---
layout: default
---

<!-- Portada -->
<section id="banner" class="major">
    <div class="inner">
        <header class="major">
            <h1>{{ page.landing-title }}</h1>
        </header>
        <div class="content">
            <p style="text-transform: uppercase;">{{ site.description }}</p>
            <ul class="actions">
                <li><a href="#one" class="button next scrolly">Get Started</a></li>
            </ul>
        </div>
    </div>
</section>

<!-- Principal main-->
<div id="main">

    <!-- Primero -->
    {% include tiles.html %}

    <!-- Segundo -->
    <section id="two">
        <div class="inner">
            <header class="major">
                <h2>Last works..</h2>
            </header>
            <p>{{ content }}</p>
            <ul class="actions">
                <li><a href="landing.html" class="button next">Get Started</a></li>
            </ul>
        </div>
    </section>

</div>
